
@font-face {
    font-family: "Roboto";
    src: url(../atassets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Bebas";
    src: url(../atassets/fonts/bebas/BebasNeue-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../atassets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --ata-red: #ad0713;
    --notredame-purple: #861d60;
    --notredame-blue: #3f256f;
    --theme-color: rgb(255,255,255);
    --primary-color: #124f88;
    --secondary-color: #f7c331;

    --text-color-inverse: rgb(150, 150, 150);
    --text-color: rgb(0,0,0);
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #000000;

    --h1-color: ggb(0,0,0);
    --h1-span-color: rgb(48,48,48);
    --secondary-text-color: rgb(0,0,0);
    --dropdown-color: rgba(255,255,255,0.974);
    --nav-font-weight: 900;
    --video-border: 4px solid var(--ata-red);
    --dark-background-text-color: rgb(255, 255, 255);
    --dark-background-light-theme: #5a5a5a;

    --principito-gold: #e3cf0a;
    --principito-purple: #2f0f64;
    --principito-purple-two: #5f0f8d;
    --principito-dark-purple: rgba(16,6,40,1);
}

body{
    font-family: "Roboto";
    scrollbar-gutter: stable;
    overflow-x: hidden;
    padding: 84px 0 0 0;
}
body.index-body{
    padding: 0 0 0 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dropdown-color);
    font-size: 1rem;
    font-weight: 500;
}

.horozontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

main section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width: 950px){


    body.index-body{
        padding: 0 0 0 0;
    }

    .horozontal-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    
    .vertical-padding{
        padding-top: 70px;
        padding-bottom: 70px;
    
    }


    /* CUSTOM SCROLLBAR */

    .body-red::-webkit-scrollbar, .body-gold::-webkit-scrollbar{
        width: .6em;
        background: rgb(203, 203, 203);
        height: 0;
    }
    

    .body-red::-webkit-scrollbar-track, .body-gold::-webkit-scrollbar-track{
        border-radius: 100vw;
        border: 2px;
        margin-block: .5em;
    }

    .body-red::-webkit-scrollbar-thumb,  .body-gold::-webkit-scrollbar-thumb{
        background: #747474;
        border-radius: 100vw;
        
    }

    .body-red::-webkit-scrollbar-thumb:hover{
        background: var(--ata-red);
    }

    .body-gold::-webkit-scrollbar-thumb:hover{
        background: rgba(193,164,0);
    }

}

